<server description="Intro REST Guide Liberty server">
  <featureManager>
     <feature>mpRestClient-3.0</feature>
     <feature>cdi-4.0</feature>
     <feature>jsonb-3.0</feature>
     <feature>localConnector-1.0</feature>
     <feature>mpJwt-2.1</feature>
     <feature>servlet-6.0</feature>
     <feature>xmlWS-4.0</feature>
     <feature>persistence-3.1</feature>
     <feature>faces-4.0</feature>
     <feature>pages-3.1</feature>
     <feature>jndi-1.0</feature>
     <feature>appSecurity-5.0</feature>
     <feature>enterpriseBeansLite-4.0</feature>
  </featureManager>

  <keyStore id="defaultKeyStore" location="tls/key.p12" type="PKCS12" password="${KEYSTORE_PASS}"/>
  <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true" />
  
  <httpAccessLogging id="accessLogging"/>  
  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
      accessLoggingRef="accessLogging" id="defaultHttpEndpoint" host="${host}" />
  <applicationManager autoExpand="true"/>
  <webApplication location="itsm.war" contextRoot="/"/>
  
   <!-- Derby Library Configuration -->
  <library id="derbyJDBCLib">
    <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
  </library>

  <!-- Datasource Configuration -->
   <dataSource id="jpadatasource" jndiName="jdbc/ds1">
    <jdbcDriver libraryRef="derbyJDBCLib" />
    <properties.derby.embedded databaseName="db/db1" createDatabase="create" />
  </dataSource> 
  

</server>

