<server description="Intro REST Guide Liberty server">
    <featureManager>
      <feature>restfulWS-3.1</feature>
      <feature>jsonb-3.0</feature>
  </featureManager>
  
  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                id="defaultHttpEndpoint" host="${host}" />
 

  <webApplication location="simpleAPI.war" contextRoot="/v1"/>
  <applicationManager autoExpand="true"/>
</server>
