<server description="Intro REST Guide Liberty server">
    <featureManager>
      <feature>restfulWS-3.1</feature>
      <feature>jsonb-3.0</feature>
      <feature>servlet-6.0</feature>
  </featureManager>
  
  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint" host="${host}">
        <accessLogging filepath="${LOG_DIR}/access.log"/>
  </httpEndpoint>             
  <webApplication location="simpleAPI.war" contextRoot="/"/>
  <applicationManager autoExpand="true"/>
</server>
